*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #1A0B2E; 
    width: 100%;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 100px;
    height: 92px;
    background-color: #1A0B2E;
}
.nav-logo {
    font-size: 32px;
    font-weight: 800;
    width: 219px;
    color: #ffffff;
    letter-spacing: -1px;
}
.wave{
     background: linear-gradient(90deg, #FFB800 0%, #FF3399 50%, #9D00FF 100%);
    
    
    -webkit-background-clip: text;
    background-clip: text;
    
    
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.nav-links {
    display: flex;
   gap: 40px;
}
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links a:hover{
    color: #ffffff;
}
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 135px;
    height: 44px; 
    gap: 4px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    cursor: pointer;
      background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
        transition: transform 0.3s;
}
.btn-primary:active{
    transform: scale(0.95);
}

.hero-bg img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 0.6;
}



.hero-section {
    position: relative; 
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
 
    overflow: hidden; 
    color: #fff; 
}


.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}
 



.hero-img {
    position: relative;
   z-index: 2;  
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



.hero-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 1;
   
}


.mic-icon {
    position: relative;
    width: 50%; 
    z-index: 2; 
}


.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.hero-subtitle {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    max-width: 600px; 
}


.hero-btn {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}


.btn-spotify, .hero-sub {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-spotify {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 100%); /* Figma-র মতো কালার */
    color: #fff;
}

.hero-sub {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%;
}


.logo-container {
    position: relative;
    width: 16vw;  
    height: 16vw;
    min-width: 220px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 576px) {

   
    .navbar {
        padding: 15px 20px;
    }

    
    .nav-links {
        display: none;
    }

    
    .btn-primary {
        display: none;
    }

   
    .menu-icon {
        display: block;
    }
    .menu-icon i {
    color: white; 
    font-size: 24px; 
}
}