*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-links {
    gap:32px;
}